#main{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height:300px;
    width: 300px;
    margin-top: 250px;
}

#inside{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#sun{
    background: linear-gradient(45deg, orange, yellow);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: spinBall 5s ease-in-out infinite;
}
    @keyframes spinBall {
        0%{       transform: rotate(0deg);    }
        100%{       transform: rotate(360deg);   }
    }

#first_ring{
    position: absolute;
    background-color: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top: 1px solid #6a2c00a3;
    border-left: 1px solid #4a2f1c61;
    border-bottom: 1px solid #4a2f1c30;
    animation: spinning 3s linear infinite;
}

#mercury{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: linear-gradient(300deg, #e7bf73, #440606);
    margin-top: 8px;
    margin-left: 50px;
}

#second_ring{
    position: absolute;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top: 1px solid rgb(255 81 1 / 71%);
    border-left: 1px solid rgb(255 81 1 / 51%);
    border-bottom: 1px solid rgb(255 81 1 / 31%);
    animation: spinning 5s linear infinite;
}

#venus{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    margin-left: 80px;
    background: linear-gradient(45deg, #ff9600, #685c45);
    margin-top: 9px;
}

#third_ring{
    position: absolute;
    background-color: transparent;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top: 1px solid rgb(39 1 255 / 60%);
    border-left: 1px solid rgb(39 1 255 / 40%);
    border-bottom: 1px solid rgb(39 1 255 / 27%);
    transform: rotate(90deg);
    animation: spinning2 7s linear infinite;
}

#earth{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 131px;
    background: linear-gradient(45deg, #00c7ff, #09500b);
    margin-top: 14px;
    animation: spinBall 3s linear infinite;
}

#moon{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: linear-gradient(45deg, #dbdbdb, #131313);
    margin-left: 22px;
}

#moonRing{
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(135 135 135 / 51%);
    margin-top: -26px;
    margin-left: 124.5px;
}

#fourth_ring{
    position: absolute;
    background-color: transparent;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 1px solid transparent;
    border-top: 1px solid #ff00008f;
    border-left: 1px solid #ff000061;
    border-bottom: 1px solid #ff000033;
    animation: spinning 9s linear infinite;
}

#mars{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    margin-left: 187px;
    background: linear-gradient(347deg, #ff6363, #200101);
    margin-top: 23px;
}

#author{
    text-align:center;
    font-family: monospace;
}

@keyframes spinning {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes spinning2 {
    0%{transform: rotate(90deg);}
    100%{transform: rotate(450deg);}
}

